* {
	margin: 0; padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	color: #333;
	background: #fff;
}

body {
	margin: 0 auto;
	padding-bottom: 50px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 1.3em;
}

h1, h2, h3 {
	margin: 30px 0;
	font-weight: normal;
	line-height: 1.1em;
}

a {
	color: #266789;
}

p {
	margin: 30px 0;
	line-height: 1.4em;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

ul, ol {
	margin: 20px 0 20px 60px;
}

sup {
	position: relative;
	top: -8px;
	vertical-align: bottom;
}

img {
	border: 0;
}

figure img {
	display: block;
	width: 100%;
	height: auto;
}

figure figcaption {
	padding: 5px 15px;
	font-size: 12px;
	font-style: italic;
	background: #ddd;
}

form fieldset {
	margin: 30px 0;
	border: 0;
}

form label {
	margin: 11px 5px 5px 5px;
	clear: left;
	float: left;
	width: 90px;
	text-align: right;
}

form input,
form textarea,
form button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

form input,
form textarea {
	margin: 5px;
	width: 60%;
}

form input {
	padding: 5px;
}

form textarea {
	padding: 5px 7px;
	resize: vertical;
}

form button {
	margin: 5px 0 0 105px;
	padding: 15px;
	line-height: 1em;
	border: 0;
	cursor: pointer;
	background: #ddd;
}

header {
	background: #266789 url('/images/nav_bg.png');
	background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 29%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.05) 73%, rgba(0, 0, 0, 0.15) 100%), -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.1) 100%), url('/images/nav_bg.png');
	background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 29%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.05) 73%, rgba(0, 0, 0, 0.15) 100%), -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.1) 100%),url('/images/nav_bg.png');
	background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 29%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.05) 73%, rgba(0, 0, 0, 0.15) 100%), -o-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.1) 100%),url('/images/nav_bg.png');
}

header ul {
	margin: 0 auto;
	padding: 0 20px;
	width: 960px;
	font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
	white-space: nowrap;
}

header ul li {
	display: inline-block;
	list-style: none;
}

header ul li a {
	display: block;
	margin: 0 10px;
	padding: 25px 5px 20px;
	color: #e3e3e3;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: opacity .1s ease-out;
	-moz-transition: opacity .1s ease-out;
	transition: opacity .1s ease-out;
}

header ul li a:hover {
	opacity: 0.75;
}

header ul li a.active {
	padding-bottom: 15px;
	border-bottom: 5px solid #65a9cc;
}

header .logo {
	float: right;
}

header .logo a {
	padding-right: 0;
}

header .logo a span {
	opacity: 0.6;
}

#content {
	margin: 0 auto;
	padding: 10px 30px;
	width: 960px;
	font-family: 'Droid Serif', 'Georgia', serif;
	font-size: 20px;
	line-height: 1.3em;
	color: #222;
	overflow: hidden;
}

.headline, .subhead {
	margin: 0;
	line-height: 1em;
	text-align: center;
	white-space: nowrap;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
}

.headline {
	padding-top: 0.3em;
	padding-bottom: 10px;
}

.headline span {
	font-size: 60%;
	vertical-align: top;
}

.subhead {
	padding-bottom: 1em;
}

.subhead:before,
.subhead:after {
	content: ' — ';
}

h2 a {
	color: #222;
	text-decoration: none;
}

h2[id]:before {
	content: '#';
	margin: 0 5px 0 -20px;
	opacity: 0.1;
}

h2[id]:hover:before {
	opacity: 0.6;
}

p a {
	white-space: nowrap;
}

code,
pre {
	font-family: 'Droid Sans Mono', 'Monaco', monospace;
}

code {
	font-size: 14px;
	line-height: 1.2em;
}

pre {
	margin: 20px 0;
	padding: 10px 15px;
	font-size: 14px;
	line-height: 1em;
	background: #eee;
	white-space: pre-wrap;
}

pre code {
	font-size: inherit;
	line-height: 1.6em;
	width: 100%;
}

.profile_pic {
	margin: 0 0 20px 20px;
	float: right;
}

#msg_success {
	color: #00ba39;
}

#msg_error {
	color: #ba0000;
}

.footnotes {
	font-size: 14px;
}

.social_footer {
	font-size: 16px;
	text-align: center;
}

.social_footer p {
	font-style: italic;
	text-align: left;
}

.tweet {
	display: inline-block;
	width: 56px;
	height: 20px;
	text-indent: -9999px;
	background: url('/images/tweet.png');
}

a.tweet:hover {
	background-position: 0 -20px;
}

a.tweet:active {
	background-position: 0 -40px;
}

::-moz-selection { color: #fff; background: rgb(37, 102, 136); }
::selection { color: #fff; background: rgb(37, 102, 136); }

/* ----- HTML5 Tags ----- */

header, figure, figcaption, footer {
	display: block;
}

/* ----- @media ----- */

@media screen and (max-device-width: 30em) { /* 480px -> 30em */
	* { -webkit-text-size-adjust: none; }
}

@media screen and (max-width: 60em) { /* 960px -> 60em */
	header ul, #content { width: auto; }
}

@media screen and (max-width: 50em) { /* 800px -> 50em */
	header ul { text-align: center; padding: 0; }
	header ul li a { padding-top: 20px; }
	header .logo { display: block; float: none; }
	header .logo a { padding-bottom: 5px; }
}

@media screen and (max-width: 31.25em) { /* 500px -> 31.25em */
	.profile_pic { float: none; margin: 0; width: 100%; height: auto; }
}

@media print {
	html, body { background: #fff; }
	header, .social_footer { display: none; }
}