<h1>Contact</h1>

<p id="msg_success">Your message was sent successfully. Thanks!</p>
<p id="msg_error">Please be sure all fields are completed and then try sending again.</p>

<p>I am currently <b>not available</b> to take on any new projects. If you have something you'd like to run by me for a future date or just want to say hello, use the form below. You can also contact me through <a href="http://twitter.com/neogeek/">Twitter</a>.</p>

<form action="/contact/" method="post">

<fieldset>

<label for="name">Name:</label> <input type="text" name="name" id="name" size="40" value="" placeholder="your name" /><br />
<label for="email">Email:</label> <input type="email" name="email" id="email" size="40" value="" placeholder="email@domain.com" /><br />

<label for="message">Message:</label> <textarea name="message" id="message" cols="60" rows="5"></textarea><br />

<button>Send</button>

</fieldset>

</form>