<h1>Favicache</h1>

<p>Favicache is a <a href="http://www.wordpress.org/">Wordpress</a> plugin which retrieves and stores favicons in a local cache. This makes for faster load times and lessens the strain on the server in which the favicon was originally retrieved from.</p>

<h2 id="installation"><a href="#installation">Installation</a></h2>

<ol>
<li>Download the <a href="http://github.com/neogeek/favicache/">latest version from GitHub</a>.</li>
<li>Upload the contents of the downloaded zip file to <code>/wp-content/plugins/</code>.</li>
<li>Ensure that <code>/wp-content/plugins/favicache/</code> has <a href="http://codex.wordpress.org/Make_a_Directory_Writable">write permissions</a>.</li>
<li>Activate the plugin.</li>
</ol>

<h2 id="usage"><a href="#usage">Usage</a></h2>

<p>Once Favicache is installed and activated, ensure that the settings for the links widget are setup as indicated in the screenshot below.</p>

<figure>
<img src="/images/work_favicache_plugin_settings.jpg" width="900" height="300" alt="Plugin Settings" />
<figcaption><b>Plugin Settings</b>: Show Link Image must be checked for the favicon cached by Favicache to display.</figcaption>
</figure>

<p>Then add or edit an existing link causing Favicache to retrieve (if available) and cache the site's favicon. It then sets the site's image to the cached version of that site's favicon.</p>

<h2 id="theme_modification"><a href="#theme_modification">Theme Modification</a></h2>

<p>Favicache downloads the favicons as is, without resizing them. To make sure they all look the same in the sidebar, add the following CSS to your theme's main CSS file.</p>

<pre class="code">
<code>.widget_links ul li {</code>
<code>    padding: 2px 0;</code>
<code>}</code>

<code>.widget_links a img {</code>
<code>    width: 16px;</code>
<code>    height: 16px;</code>
<code>    vertical-align: middle;</code>
<code>}</code>
</pre>

<figure>
<img src="/images/work_favicache_theme.jpg" width="900" height="300" alt="Theme Modification" />
<figcaption><b>Theme Modification</b>: A sample of links with favicons cached by Favicache.</figcaption>
</figure>

<h2 id="compatibility"><a href="#compatibility">Compatibility</a></h2>

<ul>
<li><b>Wordpress:</b> 3.0, 3.1, 3.1.3, 3.2, 3.2.1, 3.3, 3.3.1, 3.3.2, 3.4</li>
</ul>