<h1>jQuery Slider</h1>

<p>A script with no name, this jQuery plugin is a simple solution for implementing a slider on any web page.</p>

<h2 id="download"><a href="#download">Download</a></h2>

<p>Download the <a href="http://github.com/neogeek/jQuery-Slider/">latest version from GitHub</a>.</p>

<h2 id="usage"><a href="#usage">Usage</a></h2>

<p>This plugin requires very little in the way of HTML structure to get started. In the example below, a div contains figures all with the same width. An additional div contains links to move the slider left and right and to specific pages.</p>

<pre><code>&lt;div id=&quot;slider&quot;&gt;</code>

<code>    &lt;figure&gt;</code>
<code>        &lt;img src=&quot;/images/photo_01.jpg&quot; width=&quot;350&quot; height=&quot;250&quot; alt=&quot;New York City&quot; /&gt;</code>
<code>        &lt;figcaption&gt;New York City&lt;/figcaption&gt;</code>
<code>    &lt;/figure&gt;</code>

<code>    &lt;figure&gt;</code>
<code>        &lt;img src=&quot;/images/photo_02.jpg&quot; width=&quot;350&quot; height=&quot;250&quot; alt=&quot;New York City&quot; /&gt;</code>
<code>        &lt;figcaption&gt;New York City&lt;/figcaption&gt;</code>
<code>    &lt;/figure&gt;</code>

<code>    &lt;figure&gt;</code>
<code>        &lt;img src=&quot;/images/photo_03.jpg&quot; width=&quot;350&quot; height=&quot;250&quot; alt=&quot;Epic Mickey&quot; /&gt;</code>
<code>        &lt;figcaption&gt;Epic Mickey&lt;/figcaption&gt;</code>
<code>    &lt;/figure&gt;</code>

<code>    &lt;figure&gt;</code>
<code>        &lt;img src=&quot;/images/photo_04.jpg&quot; width=&quot;350&quot; height=&quot;250&quot; alt=&quot;Sunset&quot; /&gt;</code>
<code>        &lt;figcaption&gt;Sunset&lt;/figcaption&gt;</code>
<code>    &lt;/figure&gt;</code>

<code>&lt;/div&gt;</code>

<code>&lt;div&gt;</code>
<code>    &lt;a href=&quot;#left&quot;&gt;&amp;#8592; Previous&lt;/a&gt;</code>
<code>    &lt;span id=&quot;pagination&quot;&gt;</code>
<code>        &lt;a href=&quot;#1&quot;&gt;1&lt;/a&gt;</code>
<code>        &lt;a href=&quot;#2&quot;&gt;2&lt;/a&gt;</code>
<code>    &lt;/span&gt;</code>
<code>    &lt;a href=&quot;#right&quot;&gt;Next &amp;#8594;&lt;/a&gt;</code>
<code>&lt;/div&gt;</code></pre>

<p>To activate the slider without specifying a width (uses the width of the children objects) or any other options, use the following code.</p>

<pre><code>$('#slider').slider();</code></pre>

<p>Examples of options.</p>

<pre><code>$('#slider').slider({width:800}); // Sets the slider wrapper to 800px wide. (Integer)</code></pre>

<pre><code>$('#slider').slider({start: 1}); // Animates to the specified position. (Integer)</code></pre>

<pre><code>$('#slider').slider({loop: true}); // Scrolls from last to first and vice versa. (Boolean)</code></pre>

<p>To move the slider left and right, use the following code.</p>

<pre><code>$('a[href=#left]').click(function() { $('#slider').slider('left'); return false; });</code>
<code>$('a[href=#right]').click(function() { $('#slider').slider('right'); return false; });</code></pre>

<p>To move the slider to a specific page use the following code on a group of anchors with the corresponding page numbers.</p>

<pre><code>$('#pagination a').click(function() { $('#slider').slider('move', $(this).text()); return false; });</code></pre>

<p>To make the slider keyboard accessible, use the code below.</p>

<pre><code>$(document).keydown(function(event) {</code>
<code>    if (!event.metaKey) {</code>
<code>        if (event.which == 37) { $('#slider').slider('left'); return false; }</code>
<code>        else if (event.which == 39) { $('#slider').slider('right'); return false; }</code>
<code>    }</code>
<code>});</code></pre>

<h2 id="demo"><a href="#demo">Demo</a></h2>

<div id="slider">
	
	<figure>
		<img src="/images/photo_01.jpg" width="350" height="250" alt="New York City" />
		<figcaption>New York City</figcaption>
	</figure>
	
	<figure>
		<img src="/images/photo_02.jpg" width="350" height="250" alt="New York City" />
		<figcaption>New York City</figcaption>
	</figure>
	
	<figure>
		<img src="/images/photo_03.jpg" width="350" height="250" alt="Epic Mickey" />
		<figcaption>Epic Mickey</figcaption>
	</figure>
	
	<figure>
		<img src="/images/photo_04.jpg" width="350" height="250" alt="Sunset" />
		<figcaption>Sunset</figcaption>
	</figure>
	
</div>

<div style="text-align: center;">
	<a href="#left">&#8592; Previous</a>
	<span id="pagination">
		<a href="#1">1</a>
		<a href="#2">2</a>
		<a href="#3" class="more">3</a>
		<a href="#4" class="more">4</a>
	</span>
	<a href="#right">Next &#8594;</a>
</div>

<style type="text/css">

#slider {
	margin: 10px auto;
	width: 700px;
}

#slider figure {
	padding: 0 5px;
	width: 350px;
}

#pagination .more {
	display: none;
}

@media screen and (max-width: 750px) {
	#slider {
		width: 350px;
	}
	
	#pagination .more {
		display: inline;
	}
}

</style>

<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/jquery-slider/jquery.slider.min.js"></script>

<script type="text/javascript">

$slider = $('#slider');

$(window).on('resize load', function() {
	$slider.slider({loop: true});
});

$('a[href=#left]').click(function() { $slider.slider('left'); return false; });
$('a[href=#right]').click(function() { $slider.slider('right'); return false; });

$('#pagination a').click(function() { $slider.slider('move', $(this).text()); return false; });

$(document).keydown(function(event) {
	
	if (!event.metaKey) {
		if (event.which == 37) { $slider.slider('left'); return false; }
		else if (event.which == 39) { $slider.slider('right'); return false; }
	}
	
});

</script>