<h1>Articles</h1>

<h2><a href="/articles/the-overseer-framework-basic-functions/">The Overseer Framework: Basic Functions</a></h2>

<p>The Overseer CMS, created a little over six years ago, was a quick to setup database scheme driven content management system based on a library of useful PHP functions. The project progressed through many different variations before eventually being retired, replaced by the library of PHP functions and renamed to the Overseer Framework. This article will cover a few of these functions and how to implement them in your own projects. <a href="/articles/the-overseer-framework-basic-functions/">Read More&#8230;</a></p>

<h2><a href="/articles/mamp-and-pear/">MAMP &amp; PEAR</a></h2>

<p>Upon installation, MAMP already has a great deal of additional packages available to you. Besides the obvious Apache, PHP and MySQL components, MAMP also comes with Freetype, curl and gd pre-installed. The default MAMP installation can also be extended to include other components. PEAR is a distribution system for PHP libraries such as HTTP_OAuth, an implementation of the OAuth 1.0a spec. This article will cover the basics of setting up MAMP and installing PEAR libraries. <a href="/articles/mamp-and-pear/">Read More&#8230;</a></p>

<h2><a href="/articles/php-and-imagemagick/">PHP &amp; ImageMagick</a></h2>

<p>While the built-in PHP library GD is usually sufficient for modifying and/or creating images, it is always a good idea to cultivate multiple alternatives. ImageMagick is a command-line based utility which provides a multitude of functionalities from resizing to converting file formats. While not normally installed on most servers, it is easy to set up providing you have SSH access. The server specific instructions for setting up ImageMagick should be readily available through your hosting provider's control panel. This article will go over how to install ImageMagick locally (Mac instructions only) and basic PHP usage. <a href="/articles/php-and-imagemagick/">Read More&#8230;</a></p>