<article>

<h1 class="headline" style="font-size: 130px;">MAMP <span>&amp;</span> PEAR</h1>
<h2 class="subhead" style="font-size: 27px;">Putting two and two together.</h2>

<script type="text/javascript">

window.onload = window.onresize = function() {
	fittext(document.getElementsByTagName('h1')[0], 0.69);
	fittext(document.getElementsByTagName('h2')[0], 2.5);
}

</script>

<p>Upon installation, <a href="http://mamp.info">MAMP</a> already has a great deal of additional packages available to you. Besides the obvious Apache, PHP and MySQL components, MAMP also comes with <a href="http://freetype.org">Freetype</a>, <a href="http://www.php.net/curl">curl</a> and <a href="http://php.net/manual/en/book.image.php">gd</a> pre-installed. The default MAMP installation can also be extended to include other components. <a href="http://pear.php.net/">PEAR</a> is a distribution system for PHP libraries such as <a href="http://pear.php.net/package/HTTP_OAuth/">HTTP_OAuth</a>, an implementation of the OAuth 1.0a spec. This article will cover the basics of setting up MAMP and installing PEAR libraries.</p>

<h2 id="installing-mamp"><a href="#installing-mamp">Installing MAMP</a></h2>

<p>MAMP, like most other Mac applications, can be installed by simply dragging and dropping the application into the Applications folder. Once installed, locate and launch the MAMP.app application<sup><a href="#ftn1" id="ftn1-ref">1</a></sup>. Then open up the preferences panel and select your desired options<sup><a href="#ftn2" id="ftn2-ref">2</a></sup>.</p>

<h2 id="installing-pear-libraries"><a href="#installing-pear-libraries">Installing PEAR Libraries</a></h2>

<p>To install any PEAR library, download the library of your choice, unzip the downloaded file and copy the contents of the unzipped folder to <code>/Applications/MAMP/bin/php/php5.3.6/lib/</code> or <code>/Applications/MAMP/bin/php/php5.2.17/lib/</code>. The resulting file structure should be similar to the example below.</p>

<pre>
<code>- /Applications/MAMP/bin/php/php5.3.6/lib/</code>
<code>    - HTTP_OAuth-0.2.3/</code>
<code>        - examples/</code>
<code>        - HTTP/</code>
<code>            - OAuth.php</code>
<code>        - tests/</code>
</pre>

<p>Once you have verified the PEAR library is in the correct place, you can start using the library right away. Try the following script and replace the include to the PEAR library you want to install.</p>

<pre class="code">
<code>&lt;?php</code>
<code>include('HTTP_OAuth-0.2.3/HTTP/OAuth.php');</code>
<code>if (class_exists('HTTP_OAuth')) { echo 'PEAR Package Installed!'; }</code>
<code>else { echo 'Error Loading PEAR Package.'; }</code>
<code>?&gt;</code>
</pre>

<ol class="footnotes">
	<li id="ftn1">If installed to the default location, MAMP can be found in <code>/Applications/MAMP/</code> <a href="#ftn1-ref">&#8617;</a></li>
	<li id="ftn2">MAMP's preference are purely optional; Apache and MySQL ports, PHP version, and location of server files. <a href="#ftn2-ref">&#8617;</a></li>
</ol>

</article>