<article>

<h1 class="headline" style="font-size: 95px;">PHP <span>&amp;</span> ImageMagick</h1>
<h2 class="subhead" style="font-size: 27px;">A picture worth a thousand words.</h2>

<script type="text/javascript">

window.onload = window.onresize = function() {
	fittext(document.getElementsByTagName('h1')[0], 0.95);
	fittext(document.getElementsByTagName('h2')[0], 2.5);
}

</script>

<p>While the built-in PHP library <a href="http://www.php.net/gd">GD</a> is usually sufficient for modifying and/or creating images, it is always a good idea to cultivate multiple alternatives. ImageMagick is a command-line based utility which provides a multitude of functionalities from resizing to converting file formats. While not normally installed on most servers, it is easy to set up providing you have SSH access. The server specific instructions for setting up ImageMagick should be readily available through your hosting provider's control panel. This article will go over how to install ImageMagick locally <em>(Mac instructions only)</em> and basic PHP usage.</p>

<h2 id="initial-setup"><a href="#initial-setup">Initial Setup</a></h2>

<p>First you must download and extract the latest version of ImageMagick from the project's <a href="http://www.imagemagick.org/script/binary-releases.php#macosx">website</a> into <code>/Library</code><sup><a href="#ftn1" id="ftn1-ref">1</a></sup>. Then rename <code>ImageMagick-X.X.X/</code> to <code>ImageMagick/</code>, facilitating seamless future updates.</p>

<h2 id="terminal-setup"><a href="#terminal-setup">Terminal Setup</a></h2>

<p><b>Note:</b> This next step can be skipped providing you do not plan on using ImageMagick from the command line.</p>

<p>Next you will edit your <code>.bash_profile</code> file located in your home directory by entering the text below into a Terminal window.</p>

<pre><code>vim ~/.bash_profile</code></pre>

<p>Once you hit enter, if the <code>.bash_profile</code> file doesn't exit, an empty document will appear. If the file does exist, place your cursor at the end of the document. When your cursor is in place, press the <b>i</b> key to enter insert mode and paste the following code into the file.</p>

<pre><code>#ImageMagick Setup</code>
<code>export MAGICK_HOME=/Library/ImageMagick</code>
<code>export PATH=$MAGICK_HOME/bin:$PATH</code>
<code>export DYLD_LIBRARY_PATH=$MAGICK_HOME/lib</code></pre>

<p>To commit the changes and exit, press <b>esc</b> then type <code>:wq</code> and hit <b>enter</b>. Then close and reopen Terminal, thus causing the <code>.bash_profile</code> file to execute<sup><a href="#ftn2" id="ftn2-ref">2</a></sup>.</p>

<p>To confirm that ImageMagick was installed correctly, all you have to do is to type the following and hit enter.</p>

<pre><code>convert -version</code></pre>

<p>The resulting output should look something similar to the output below.</p>

<pre><code>Version: ImageMagick 6.7.9-2 2012-08-25 Q16 http://www.imagemagick.org</code>
<code>Copyright: Copyright (C) 1999-2012 ImageMagick Studio LLC</code>
<code>Features: OpenMP OpenCL</code></pre>

<h2 id="php-setup"><a href="#php-setup">PHP Setup</a></h2>

<p>Next, add the following lines of PHP to the beginning of the file where you plan on utilizing ImageMagick.</p>

<pre><code>&lt;?php</code>
<code>putenv('MAGICK_HOME=/Library/ImageMagick');</code>
<code>putenv('PATH=' . getenv('MAGICK_HOME') . '/bin:' . getenv('PATH'));</code>
<code>putenv('DYLD_LIBRARY_PATH=' . getenv('MAGICK_HOME') . '/lib');</code>
<code>?&gt;</code></pre>

<h2 id="example-usage"><a href="#example-usage">Example Usage</a></h2>

<p>Below are a few simple examples of how to convert, resize or rotate an image in PHP using the <code>convert</code> command.</p>

<pre><code>// Basic conversion from PNG to JPG</code>
<code>exec('convert avatar.png avatar.jpg');</code>
<code>// Resize to 80x80 (no cropping)</code>
<code>exec('convert avatar.png -resize 80x80 avatar_sm.png');</code>
<code>// Rotate 90&#176;</code>
<code>exec('convert avatar.png -rotate 90 avatar_rotated.png');</code>
<code>// Resize &amp; Crop to 80x80</code>
<code>exec('convert avatar.png -resize 80x80^ -gravity center -extent 80x80 avatar_sm.png');</code>
<code>?&gt;</code></pre>

<h2 id="conclusion"><a href="#conclusion">Conclusion</a></h2>

<p>Now that you have ImageMagick setup in both the command line and in PHP, you can start to utilize it in future projects. It is recommended that when you use ImageMagick, you take into consideration the load it places on the server each time you convert, resize or rotate an image.</p>

<ol class="footnotes">
	<li id="ftn1">Placing the ImageMagick files into the <code>Library/</code> folder is not a requirement, just a recommendation. <a href="#ftn1-ref">&#8617;</a></li>
	<li id="ftn2">Alternatively you can run <code>.bash_profile</code> immediately after saving and closing it by running <code>. ~/.bash_profile</code>. <a href="#ftn2-ref">&#8617;</a></li>
</ol>

</article>