<article>

<h1 class="headline" style="font-size: 88px;"><small style="display: block; font-size: 40%; line-height: 1em;">The</small> Overseer Framework</h1>
<h2 class="subhead" style="font-size: 27px;">Basic Functions</h2>

<script type="text/javascript">

window.onload = window.onresize = function() {
	fittext(document.getElementsByTagName('h1')[0], 1.02);
	fittext(document.getElementsByTagName('h2')[0], 2.5);
}

</script>

<p>The Overseer CMS, created a little over six years ago, was a quick to setup database scheme driven content management system based on a library of useful PHP functions. The project progressed through many different variations before eventually being retired, replaced by the library of PHP functions and renamed to the Overseer Framework. This article will cover a few of these functions and how to implement them in your own projects.</p>

<h2 id="functions"><a href="#functions">Functions</a></h2>

<h3>print_array</h3>

<p>One of the basic functions of the framework, <b>print_array</b>, does exactly what you would think. By passing it any number of variables (not just arrays), the function will echo them on the page surrounded by pre tags.</p>

<pre class="code">
<code>print_array(array('Moe', 'Larry', 'Curly'));</code>
</pre>

<pre>
<code>&lt;pre&gt;Array</code>
<code>(</code>
<code>    [0] =&gt; Moe</code>
<code>    [1] =&gt; Larry</code>
<code>    [2] =&gt; Curly</code>
<code>)&lt;/pre&gt;</code>
</pre>

<h3>mysql_fetch_results</h3>

<p>This function is a combination of <a href="http://php.net/mysql_query">mysql_query</a> and <a href="http://php.net/mysql_fetch_assoc">mysql_fetch_assoc</a>. Passing it a MySQL query string, or the result of one, will return an array of the results.</p>

<pre class="code">
<code>print_array(mysql_fetch_results('SELECT `user_id`, `username` FROM `user` LIMIT 1'));</code>
</pre>

<pre>
<code>&lt;pre&gt;Array</code>
<code>(</code>
<code>    [0] =&gt; Array</code>
<code>        (</code>
<code>            [user_id] =&gt; 1</code>
<code>            [username] =&gt; neogeek</code>
<code>        )</code>
<code>)&lt;/pre&gt;</code>
</pre>

<h3>path_info</h3>

<p>This function takes the server variable PATH_INFO and breaks it into an array for easy reference to each of the different sections. This is useful for sites that utilize the RewriteEngine in Apache to format URLs.</p>

<pre class="code">
<code>http://neo-geek.net/articles/the-overseer-framework-basic-functions/</code>
<code>echo path_info();</code>
</pre>

<pre>
<code>articles</code>
</pre>

<h2 id="conclusion"><a href="#conclusion">Conclusion</a></h2>

<p>These are a few simple functions available in the framework. While the rest of the functions are slightly more complex, they all accomplish one thing: they combine simple, yet lengthy tasks in to one easy to use function.</p>

<p>For more information, visit <a href="https://github.com/neogeek/Overseer-Framework">The Overseer Framework at GitHub</a>.</p>

</article>